node_modules
node_modules/
node_modules\*
*\node_modules\*
**\node_modules\**
**\node_modules
**/node_modules/**
**/node_modules
.expo
.expo/
.expo\*
**\.expo\**
.metro-cache
.metro-cache/
.metro-cache\*
**\.metro-cache\**
dist
dist/
dist\*
web-build
web-build/
web-build\*
